<div class="name">
  <div class="form-group">
    <%= form.text_field :name, autofocus: true, placeholder: "名前", class: "form-control"%>
  </div>  
</div>

<div class="introduce">
  <div class="form-group">
    <%= form.text_field :explain, autofocus: true, placeholder: "紹介", class: "form-control"%>
  </div>  
</div>

<div class="pic">
  <div class="form-group">
    <%= form.file_field :new_post_picture, class: "btn btn-info btn-lg btn-block" %>
  </div>  
</div>



<div class="actions">
  <%= form.submit %>
</div>
